<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="/common/head :: commonHead('用户列表' )">
</head>
<style>
   .layout{
	    border: 1px solid #d7dde4;
	    background: #f5f7f9;
	    position: relative;
	    border-radius: 4px;
	    overflow: hidden;
	}
	.layout-logo{
	    width: 100px;
	    height: 30px;
	    background: #5b6270;
	    border-radius: 3px;
	    float: left;
	    position: relative;
	    top: 15px;
	    left: 20px;
	}
	.layout-nav{
	    width: 420px;
	    margin: 0 auto;
	    margin-right: 20px;
	}
</style>
	<div id="tables" v-bind:title="message">
		<template>
		    <div class="layout">
		        <Layout>
		            <i-header>
		                <i-menu mode="horizontal" theme="dark" active-name="1">
		                    <div class="layout-logo"></div>
		                    <div class="layout-nav">
		                        <MenuItem name="1">
		                            <Icon type="ios-navigate"></Icon>
		                            Item 1
		                        </MenuItem>
		                        <MenuItem name="2">
		                            <Icon type="ios-keypad"></Icon>
		                            Item 2
		                        </MenuItem>
		                        <MenuItem name="3">
		                            <Icon type="ios-analytics"></Icon>
		                            Item 3
		                        </MenuItem>
		                        <MenuItem name="4">
		                            <Icon type="ios-paper"></Icon>
		                            Item 4
		                        </MenuItem>
		                    </div>
		                </i-menu>
		            </i-header>
		            <Layout>
		                <Sider hide-trigger :style="{background: '#fff'}">
		                    <i-menu active-name="1-2" theme="light" width="auto" :open-names="['1']">
		                        <Submenu name="1">
		                            <template slot="title">
		                                <Icon type="ios-navigate"></Icon>
		                                Item 1
		                            </template>
		                            <MenuItem name="1-1">i-option 1</MenuItem>
		                            <MenuItem name="1-2">i-option 2</MenuItem>
		                            <MenuItem name="1-3">i-option 3</MenuItem>
		                        </Submenu>
		                        <Submenu name="2">
		                            <template slot="title">
		                                <Icon type="ios-keypad"></Icon>
		                                Item 2
		                            </template>
		                            <MenuItem name="2-1">i-option 1</MenuItem>
		                            <MenuItem name="2-2">i-option 2</MenuItem>
		                        </Submenu>
		                        <Submenu name="3">
		                            <template slot="title">
		                                <Icon type="ios-analytics"></Icon>
		                                Item 3
		                            </template>
		                            <MenuItem name="3-1">i-option 1</MenuItem>
		                            <MenuItem name="3-2">i-option 2</MenuItem>
		                        </Submenu>
		                    </i-menu>
		                </Sider>
		                <Layout :style="{padding: '0 24px 24px'}">
		                    <Breadcrumb :style="{margin: '24px 0'}">
		                        <BreadcrumbItem>Home</BreadcrumbItem>
		                        <BreadcrumbItem>Components</BreadcrumbItem>
		                        <BreadcrumbItem>Layout</BreadcrumbItem>
		                    </Breadcrumb>
		                    <i-content :style="{padding: '24px', minHeight: '280px', background: '#fff'}">
		                        i-content
		                    </i-content>
		                </Layout>
		            </Layout>
		        </Layout>
		    </div>
		</template>
	</div>
	<script th:inline="javascript" >
	var v_tables = new Vue({
		 el:"#tables",
		 data () {
	            return {
					 message:"sdfsdf手动阀手动阀",
	                columns7: [
	                    {
	                        title: 'Name',
	                        key: 'name',
	                        render: (h, params) => {
	                            return h('div', [
	                                h('Icon', {
	                                    props: {
	                                        type: 'person'
	                                    }
	                                }),
	                                h('strong', params.row.name)
	                            ]);
	                        }
	                    },
	                    {
	                        title: 'Age',
	                        key: 'age'
	                    },
	                    {
	                        title: 'Address',
	                        key: 'address'
	                    },
	                    {
	                        title: 'Action',
	                        key: 'action',
	                        width: 150,
	                        align: 'center',
	                        render: (h, params) => {
	                            return h('div', [
	                                h('Button', {
	                                    props: {
	                                        type: 'primary',
	                                        size: 'small'
	                                    },
	                                    style: {
	                                        marginRight: '5px'
	                                    },
	                                    on: {
	                                        click: () => {
	                                            this.show(params.index)
	                                        }
	                                    }
	                                }, 'View'),
	                                h('Button', {
	                                    props: {
	                                        type: 'error',
	                                        size: 'small'
	                                    },
	                                    on: {
	                                        click: () => {
	                                            this.remove(params.index)
	                                        }
	                                    }
	                                }, 'Delete')
	                            ]);
	                        }
	                    }
	                ],
	                data6: [
	                    {
	                        name: 'John Brown',
	                        age: 18,
	                        address: 'New York No. 1 Lake Park'
	                    },
	                    {
	                        name: 'Jim Green',
	                        age: 24,
	                        address: 'London No. 1 Lake Park'
	                    },
	                    {
	                        name: 'Joe Black',
	                        age: 30,
	                        address: 'Sydney No. 1 Lake Park'
	                    },
	                    {
	                        name: 'Jon Snow',
	                        age: 26,
	                        address: 'Ottawa No. 2 Lake Park'
	                    }
	                ]
	            }
	        },
	        methods: {
	            show (index) {
	                this.$Modal.info({
	                    title: 'User Info',
	                    content: `Name：${this.data6[index].name}<br>Age：${this.data6[index].age}<br>Address：${this.data6[index].address}`
	                })
	            },
	            remove (index) {
	                this.data6.splice(index, 1);
	            }
	        }
    });
	
	var v_tables = new Vue({
		  el: '#tables',
		  data:{
			  message:"皮皮寒真的",
              tableData: [[${page}]],
              columns: [
                  {field: 'name', title:'姓名', width: 100, titleAlign: 'center',columnAlign:'center'},
                  {field: 'sex', title: '性别', width: 60, titleAlign: 'center',columnAlign:'center'},
                  {field: 'hobby', title: '爱好', width: 330, titleAlign: 'center',columnAlign:'left'}
              ],
              page:{
            	  pageNum:[[${page.pageNum}]],
            	  pageSize:[[${page.pageSize}]],
            	  startNum:[[(${page.pageNum}-1)*${page.pageSize}+1]],
            	  endNum:[[${page.pageNum}*${page.pageSize}>${page.total}?${page.total}:${page.pageNum}*${page.pageSize}]],
            	  total:[[${page.total}]],
            	  pages:[[${page.pages}]]
              }
          }
		})
	
	</script>

</body>
</html>